.btn {
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 7px;
    color: white;
    background: none;
    font-size: 1em;
    text-transform: capitalize;
    background-color: #2979F2;
    cursor: pointer;
}