
.ping-slow{
	animation: shrink .5s;
	animation-fill-mode: forwards;
}

.ping-slow:hover {
	animation: ping .5s;
	animation-fill-mode: forwards;
}

.ping-slow:hover div {
	opacity: 1;
}

.ping-slow:hover span {
	opacity: 1;
	transition: all 2s;
}


@keyframes ping {
    from   { width: 56px; }
    to { width: 60%;}
}
@keyframes shrink {
	0%   { width: 60%; }
    100% { width: 56px; }
}